Repository sealerio/sealer, pull requests merged in 2021-09, with the labels that each got.

#588 action: enable markdown link check and markdownlint
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/.mlc_config.json
  .github/workflows/markdown.yml
  .github/workflows/markdownlint.yml
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  applications/README.md
  applications/calico/README.md
  applications/cassandra/README.md
  applications/cockroachdb/README.md
  applications/debug/README.md
  applications/helm/v3.6.0/README.md
  applications/ingress/README.md
  applications/kafka/README.md
  applications/minio/README.md
  applications/mongodb/README.md
  applications/mysql/README.md
  applications/openebs/README.md
  applications/postgresql/README.md
  applications/prometheus-stack/README.md
  applications/redis/README.md
  applications/rocketmq/README.md
  applications/rookceph/rookceph-block/README.md
  applications/rookceph/rookceph-file/README.md
  applications/rookceph/rookceph-object/README.md
  applications/tidb/README.md
  applications/yrcloudfile/README.md
  applications/zookeeper/README.md
  apply/README.md
  cloud/dashboard/README.md
  docs/README_zh.md
  docs/api/cloudrootfs.md
  docs/api/clusterfile.md
  docs/api/kubefile.md
  docs/build/build_zh.md
  docs/contributing_zh.md
  docs/debug/README.md
  docs/design/global-config.md
  docs/design/global-config_zh.md
  docs/design/plugin.md
  docs/test-report/release-v0.1.5.md
  docs/user-guide/docker-image-cache.md
  docs/user-guide/get-started.md
  infra/README.md
  release_note.md
  test/README.md
  utils/ssh/README.md
Labels: area/documentation

#634 remove unnecessary underlying func wrap
  utils/ssh/connect.go
Labels: refactor

#691 test: fix an incorrect unit test case
  build/lite/charts/charts_test.go
Labels: test

#638 refactor: move k8s client detailed calling into an encapsulated obeject
  apply/cloud_applier.go
  apply/current_cluster.go
  apply/current_cluster_test.go
  apply/default_applier.go
  build/local_builder.go
  build/utils.go
  check/checker/node_checker.go
  check/checker/pod_checker.go
  check/checker/svc_checker.go
  check/service/post_check.go
  client/client.go
  plugin/labels.go
Labels: refactor

#636 docs: complete adopter markdown for sealer project
  Adopters.md
  README.md
Labels: area/doc

#635 lint: add ifshort in golangci-lint
  .golangci.yml
  build/cloud_builder.go
  cert/kube_certs.go
  filesystem/filesystem.go
  image/reference/reference.go
  image/store/layer.go
  image/store/layer_store.go
  logger/log.go
  plugin/shell_plugin.go
  sealer/main.go
  utils/archive/compress.go
  utils/file.go
  utils/mount/default.go
  utils/uuid.go
Labels: code-lint

#633 refactor: use cobra.RunE to refactor cmd implementation
  sealer/cmd/apply.go
  sealer/cmd/build.go
  sealer/cmd/check.go
  sealer/cmd/delete.go
  sealer/cmd/images.go
  sealer/cmd/inspect.go
  sealer/cmd/join.go
  sealer/cmd/load.go
  sealer/cmd/login.go
  sealer/cmd/pull.go
  sealer/cmd/push.go
  sealer/cmd/rmi.go
  sealer/cmd/root.go
  sealer/cmd/run.go
  sealer/cmd/save.go
  sealer/cmd/tag.go
  sealer/cmd/version.go
  utils/os_utils.go
Labels: refactor, command

#632 Docs/arch
  docs/site/config.toml
  docs/site/content/docs/advanced/arch.md
  docs/site/public/search_index.en.js
Labels: area/doc

#623 Optimize save registry cache.
  apply/default_applier.go
  build/lite/lite_builder.go
  build/local/local_builder.go
  common/common.go
  filesystem/filesystem.go
  image/distributionutil/login.go
  runtime/init.go
  runtime/masters.go
  runtime/nodes.go
  runtime/runtime.go
  runtime/utils.go
  test/sealer_apply_test.go
  utils/ssh/connect.go
  utils/ssh/ssh.go
Labels: optimization

#723 generating command line docs automatically
  .github/workflows/markdown.yml
  docs/commandline/sealer.md
  docs/commandline/sealer_apply.md
  docs/commandline/sealer_build.md
  docs/commandline/sealer_check.md
  docs/commandline/sealer_completion.md
  docs/commandline/sealer_debug.md
  docs/commandline/sealer_debug_clean.md
  docs/commandline/sealer_debug_node.md
  docs/commandline/sealer_debug_pod.md
  docs/commandline/sealer_debug_show-images.md
  docs/commandline/sealer_delete.md
  docs/commandline/sealer_gen-doc.md
  docs/commandline/sealer_images.md
  docs/commandline/sealer_inspect.md
  docs/commandline/sealer_join.md
  docs/commandline/sealer_load.md
  docs/commandline/sealer_login.md
  docs/commandline/sealer_pull.md
  docs/commandline/sealer_push.md
  docs/commandline/sealer_rmi.md
  docs/commandline/sealer_run.md
  docs/commandline/sealer_save.md
  docs/commandline/sealer_tag.md
  docs/commandline/sealer_version.md
  go.sum
  sealer/cmd/gen_doc.go
  sealer/cmd/root.go
  vendor/github.com/cpuguy83/go-md2man/v2/LICENSE.md
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/github.com/russross/blackfriday/v2/.gitignore
  vendor/github.com/russross/blackfriday/v2/.travis.yml
  vendor/github.com/russross/blackfriday/v2/LICENSE.txt
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/go.mod
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/markdown.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/russross/blackfriday/v2/smartypants.go
  vendor/github.com/shurcooL/sanitized_anchor_name/.travis.yml
  vendor/github.com/shurcooL/sanitized_anchor_name/LICENSE
  vendor/github.com/shurcooL/sanitized_anchor_name/README.md
  vendor/github.com/shurcooL/sanitized_anchor_name/go.mod
  vendor/github.com/shurcooL/sanitized_anchor_name/main.go
  vendor/github.com/spf13/cobra/doc/README.md
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/man_docs.md
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.md
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.md
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.md
  vendor/modules.txt
Labels: area/doc, command

#629 bugfix: avoid nilerr cases happen in ci-lint (#610)
  .golangci.yml
  image/store/distribution.go
  utils/ssh/scp.go
Labels: code-lint
