Repository sealerio/sealer, pull requests merged in 2022-10, with the labels that each got.

#1759 refactor: move from io/ioutil to io and os packages
  build/layerutils/manifests/manifests.go
  pkg/client/docker/auth/auth.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/util.go
  pkg/config/config.go
  pkg/filesystem/cloudfilesystem/utils.go
  pkg/filesystem/clusterimage/clusterimage.go
  pkg/image/save/filesystem.go
  pkg/imageengine/buildah/build.go
  pkg/imageengine/buildah/from.go
  pkg/plugin/etcd_backup_plugin.go
  pkg/plugin/plugins.go
  pkg/plugin/test/label_nodes.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config_test.go
  pkg/runtime/utils.go
  pkg/runtime/utils_test.go
  test/e2e_test.go
  test/suites/build/build.go
  test/testhelper/utils.go
  utils/archive/compress_test.go
  utils/mount/default.go
  utils/os/fs.go
  utils/os/fs/filesystem.go
  utils/os/readers.go
  utils/os/writers.go
  utils/ssh/connect.go
  utils/ssh/scp.go
  utils/yaml/yaml.go
Labels: test, e2e-test, plugin, ImageBuilding

#1765 Add cmd ut
  cmd/sealer/cmd/utils/cluster_test.go
  cmd/sealer/cmd/utils/hosts_test.go
  cmd/sealer/cmd/utils/validate_test.go
Labels: test

#1774 support to set host aliases via clusterfile
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/cluster-runtime/uninstall.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/registry/singleton.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  types/api/v2/cluster_types.go
  utils/shellcommand/hostsfile.go
Labels: Clusterfile

#1789 bugfix: add independent host at cluster for sealer join
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
Labels: test, Clusterfile

#1791 support default HostIp
  common/common.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
Labels: test

#1813 bugfix: image save use ociv1 format
  cmd/sealer/cmd/image/save.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
Labels: test
