Repository sealerio/sealer, pull requests merged in 2022-11, with the labels that each got.

#1832 Support skip clean hooks when cluster workspace not exist.
  common/common.go
  pkg/cluster-runtime/hook.go
  pkg/container-runtime/docker.go
  test/testhelper/helper.go
  utils/exec/exec.go
  utils/ssh/sshcmd.go
Labels: e2e-test

#1835 bugfix: download images from imageListWithAuth.yaml
  build/buildimage/middleware.go
  cmd/sealer/cmd/image/build.go
  pkg/define/options/options.go
Labels: ImageBuilding

#1820 support multi-platform build
  build/kubefile/parser/image_engine_test.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/image/build.go
  cmd/sealer/cmd/image/image.go
  cmd/sealer/cmd/image/manifest.go
  cmd/sealer/cmd/image/push.go
  pkg/define/options/options.go
  pkg/imagedistributor/mount.go
  pkg/imageengine/buildah/build.go
  pkg/imageengine/buildah/commit.go
  pkg/imageengine/buildah/copy.go
  pkg/imageengine/buildah/images.go
  pkg/imageengine/buildah/manifest.go
  pkg/imageengine/buildah/pull.go
  pkg/imageengine/buildah/push.go
  pkg/imageengine/buildah/remove_container.go
  pkg/imageengine/buildah/rmi.go
  pkg/imageengine/interface.go
  types/api/v1/image_types.go
Labels: test, Clusterfile, ImageBuilding

#1850 sealer run-app supports concurrent run
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run-app.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/imagedistributor/interface.go
  pkg/imagedistributor/mount.go
  pkg/imagedistributor/mount_test.go
  pkg/imagedistributor/scp_distributor.go
  pkg/infradriver/ssh_infradriver.go
Labels: test

#1863 chore: delete unused docs file gen from sealer bin
  README.md
  docs/README_zh.md
  docs/commandline/sealer.md
  docs/commandline/sealer_apply.md
  docs/commandline/sealer_build.md
  docs/commandline/sealer_cert.md
  docs/commandline/sealer_check.md
  docs/commandline/sealer_completion.md
  docs/commandline/sealer_debug.md
  docs/commandline/sealer_debug_clean.md
  docs/commandline/sealer_debug_node.md
  docs/commandline/sealer_debug_pod.md
  docs/commandline/sealer_debug_show-images.md
  docs/commandline/sealer_delete.md
  docs/commandline/sealer_exec.md
  docs/commandline/sealer_gen-doc.md
  docs/commandline/sealer_gen.md
  docs/commandline/sealer_images.md
  docs/commandline/sealer_inspect.md
  docs/commandline/sealer_join.md
  docs/commandline/sealer_load.md
  docs/commandline/sealer_login.md
  docs/commandline/sealer_merge.md
  docs/commandline/sealer_prune.md
  docs/commandline/sealer_pull.md
  docs/commandline/sealer_push.md
  docs/commandline/sealer_rmi.md
  docs/commandline/sealer_run.md
  docs/commandline/sealer_save.md
  docs/commandline/sealer_search.md
  docs/commandline/sealer_tag.md
  docs/commandline/sealer_upgrade.md
  docs/commandline/sealer_version.md
  docs/design/mutil_arch_build.md
Labels: area/doc

#1865 refactor: replace the deprecated package io/ioutil with os and io
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/utils.go
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/cert.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run-app.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/image/build.go
  pkg/cluster-runtime/hook.go
  pkg/clusterfile/clusterfile_test.go
  pkg/imagedistributor/scp_distributor.go
  pkg/registry/singleton.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/runtime.go
  utils/os/fs/filesystem_test.go
Labels: test, ImageBuilding

#1885 feat: add shell type for APP instruction
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/image_engine_test.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse_test.go
  build/kubefile/parser/utils.go
  pkg/define/application/types.go
  pkg/define/application/v1/application.go
  pkg/define/application/version/version.go
Labels: test, ImageBuilding

#1873 feat: save clusterfile to the cluster
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/cert.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run-app.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
Labels: test
