Repository sealerio/sealer, pull requests merged in 2022-06, with the labels that each got.

#1487 setup: add weekly digest for sealer
  .github/weekly-digest.yml 
Labels: github-action

#1486 chore: add github labeler action for sealer
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github-action

#1476 test: make unit test work and add codecov github action
  .github/workflows/unit-test.yml
  build/layerutils/charts/charts_test.go
  build/layerutils/charts/helm_test.go
  build/layerutils/manifests/manifests_test.go
  pkg/config/config_test.go
  pkg/config/pre_process_test.go
  pkg/debug/clusterinfo/clusterinfo_test.go
  pkg/env/env_test.go
  pkg/filesystem/filesystem_test.go
  pkg/image/save/save_test.go
  pkg/image/store/image_store_test.go
  pkg/infra/infra_test.go
  pkg/infra/test/infra_test.go
  pkg/ipvs/ipvs_test.go
  pkg/plugin/etcd_backup_plugin_test.go
  pkg/plugin/plugins_test.go
  utils/archive/compress_test.go
  utils/decode_test.go
  utils/mount/default_test.go
  utils/mount/overlay2_test.go
  utils/os/fs/filesystem_test.go
  utils/os/readers_test.go
  utils/ssh/scp_test.go
  utils/ssh/sshcmd_test.go
Labels: test, github-action

#1471 bugfix: set wrong auth domain at sealer login
  pkg/image/default_image.go
  pkg/image/util.go
  pkg/image/util_test.go
Labels: command

#1502 docs: update adopters to add more details
  Adopters.md
Labels: Adopter-Info

#1492 Feature/add remote logger; Silence useless info
  cmd/sealer/cmd/root.go
  go.mod
  pkg/remote-logger/remote-logger.go
  pkg/runtime/masters.go
  vendor/github.com/sealyun/lvscare/care/care.go
  vendor/modules.txt
Labels: log

#1500 refactor: make run command args dealing more explicit
  apply/apply.go
  apply/run.go
  apply/run_test.go
  apply/scale.go
  apply/validate.go
  apply/validate_test.go
  cmd/sealer/cmd/run.go
  docs/commandline/sealer_run.md
  docs/debug/README.md
  hack/autobuild.sh
  pkg/plugin/taint_plugin.go
  utils/net/iputils.go
  utils/net/iputils_test.go
  utils/ssh/platform.go
Labels: area/doc, test, plugin
