Repository sealerio/sealer, pull requests merged in 2022-08, with the labels that each got.

#1617 refactor: simplify to make cluster cert codes more readable
  cmd/sealer/cmd/alpha/gen.go
  cmd/sealer/cmd/join.go
  cmd/sealer/cmd/run.go
  cmd/seautil/cmd/certs.go
  pkg/cert/cert.go
  pkg/cert/cert_cmd.go
  pkg/cert/kube_certs.go
  pkg/clustercert/cert/generator.go
  pkg/clustercert/cert/readwriter.go
  pkg/clustercert/kube_certs.go
  pkg/clustercert/kube_certs_test.go
  pkg/clustercert/kubeconfig.go
  pkg/clusterfile/util.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/utils.go
Labels: test, refactor

#1614 bugfix: update api server cert sans for all cluster cert
  cmd/sealer/cmd/alpha/cert.go
  cmd/seautil/cmd/certs.go
  pkg/clustercert/kube_certs.go
  pkg/clustercert/kube_certs_test.go
  pkg/runtime/interface.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/update_cert.go
  pkg/runtime/utils.go
Labels: test, bugfix

#1601 [proposal] propose new instructions in kubefile
  docs/design/kubefile_alpha.md
Labels: area/doc

#1671 remove build type flag for build command
  cmd/sealer/cmd/build.go
  docs/design/build_zh.md
  pkg/define/options/options.go
  test/sealer_build_test.go
  test/suites/build/build.go
Labels: test, e2e-test, area/doc

#1674 [optimization] make decoding clusterfile more simple and readable
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/clusterfile/pre_process.go
Labels: test
