Repository sealerio/sealer, pull requests merged in 2022-09, with the labels that each got.

#1679 Bugfix: using mergo to do deeply merge
  apply/processor/create.go
  apply/processor/install.go
  apply/processor/scale.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/test/secret.yaml
  pkg/config/test/test_clusterfile.yaml
  pkg/config/test/tigera-operator.yaml
Labels: test

#1696 chore: fix code lint issue
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  common/common.go
  go.mod
  pkg/cluster-runtime/hook.go
  pkg/cluster-runtime/installer.go
  pkg/container-runtime/containerd.go
  pkg/container-runtime/docker.go
  pkg/container-runtime/installer.go
  pkg/image/image.go
  pkg/image/image_interface.go
  pkg/imagedistributor/scp_distributor.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/registry/configurator.go
  pkg/registry/driver.go
  pkg/registry/singleton.go
  pkg/registry/utils.go
  pkg/runtime/interface.go
  pkg/runtime/kubernetes/clean.go
  pkg/runtime/kubernetes/driver.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm_config/kubeadm_config.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/utils.go
  utils/os/fs/filesystem.go
  utils/os/fs/filesystem_test.go
  vendor/k8s.io/client-go/metadata/metadata.go
  vendor/modules.txt
Labels: test

#1683 feat: make plugin's on support |
  pkg/plugin/utils.go
Labels: plugin

#1699 Add run join delete
  apply/driver/local.go
  cmd/sealer/cmd/alpha/exec.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/hosts.go
  cmd/sealer/cmd/utils/hosts_test.go
  cmd/sealer/cmd/utils/validate.go
  cmd/sealer/cmd/utils/validate_test.go
  common/common.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/util.go
  pkg/filesystem/cloudfilesystem/utils.go
  pkg/infra/aliyun/ali_provider.go
Labels: test

#1709 Fix saveAll funcation and add unit test
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder_test.go
  pkg/clusterfile/test/testclusterfile.yaml
Labels: test

#1712 [WIP]bugfix for sealer run
  cmd/sealer/cmd/utils/hosts.go
  pkg/cluster-runtime/hook.go
  pkg/cluster-runtime/installer.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder_test.go
  pkg/imagedistributor/scp_distributor.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/registry/singleton.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/kubeadm_config/kubeadm_config.go
  utils/ssh/scp.go
Labels: test

#1714 docs: remove Chinese docs which are out of maintain
  README.md
  apply/README_zh.md
  docs/contributing_zh.md
  docs/design/build_zh.md
  docs/design/global-config_zh.md
  docs/design/image-save_zh.md
  docs/design/plugin_zh.md
  docs/design/registry-image_zh.md
  docs/design/registry_zh.md
  docs/design/upgrade_cluster_zh.md
Labels: area/doc

#1722 fix:SaveAll funcation
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/test/testclusterfile.yaml
  pkg/clusterfile/util.go
  pkg/registry/singleton.go
  pkg/runtime/kubernetes/init.go
Labels: test

#1727 code optimization for sealer CLI
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/types/types.go
  cmd/sealer/cmd/utils/cluster.go
  pkg/clusterfile/decoder_test.go
  pkg/container-runtime/docker.go
  pkg/env/env_test.go
  pkg/imagedistributor/scp_distributor.go
  pkg/registry/singleton.go
  pkg/runtime/k0s/runtime.go
  pkg/runtime/k0s/utils.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm_config/kubeadm_config_test.go
  pkg/runtime/kubernetes/utils.go
  utils/net/iputils_test.go
  utils/ssh/scp_test.go
Labels: test

#1736 Save clusterfile
  pkg/cluster-runtime/hook.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/clusterfile/test/testclusterfile.yaml
  pkg/clusterfile/util.go
  pkg/config/config.go
Labels: test
