Repository sealerio/sealer, pull requests merged in 2022-12, with the labels that each got.

#1895 doc: add master0 recovery design
  docs/design/master0-recovery.md
Labels: area/doc

#1907 bugfix: use right time stamp format
  pkg/cluster-runtime/hook.go
  pkg/logger/formatter.go
  pkg/logger/logger_test.go
Labels: test

#1901 feat: support ha mode for local registry
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run-app.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/types/types.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
  common/common.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/cluster-runtime/uninstall.go
  pkg/clusterfile/clusterfile.go
  pkg/imagedistributor/interface.go
  pkg/imagedistributor/scp_distributor.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
  pkg/registry/configurator.go
  pkg/registry/driver.go
  pkg/registry/external.go
  pkg/registry/ha.go
  pkg/registry/installer.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config.go
  pkg/runtime/kubernetes/runtime.go
  types/api/v2/cluster_types.go
  utils/net/iputils.go
  utils/net/iputils_test.go
  utils/shellcommand/hostsfile.go
Labels: test, Clusterfile

#1876 feat: support to add node labels via clusterfile
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  types/api/v2/cluster_types.go
Labels: Clusterfile

#1915 spec: add image spec definition
  go.sum
  pkg/define/image/v1/sealer_image_extension.go
  pkg/define/image/v1/sealer_image_extension_test.go
Labels: test

#1894 support taint cluster node through clusterfile
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/utils.go
  pkg/infradriver/utils_test.go
  types/api/v2/cluster_types.go
Labels: test, Clusterfile

#1917 support launch app via its name though clusterfile or cli
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse_test.go
  build/kubefile/parser/utils.go
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/image/build.go
  cmd/sealer/cmd/types/types.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/installer.go
  pkg/define/application/v1/application.go
  pkg/define/application/version/version.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  types/api/v2/cluster_types.go
Labels: test, Clusterfile, ImageBuilding

#1875 Support host alias and some other feats, fix some bugs.
  cmd/sealer/cmd/alpha/alpha.go
  cmd/sealer/cmd/alpha/host-alias.go
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/cert.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/utils/cluster.go
  common/common.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/hook.go
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/cluster-runtime/uninstall.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/imageengine/buildah/push.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
  pkg/registry/config.go
  pkg/registry/installer.go
  pkg/registry/local.go
  pkg/runtime/k0s/delete_masters.go
  pkg/runtime/k0s/delete_nodes.go
  pkg/runtime/k0s/join_masters.go
  pkg/runtime/k0s/join_nodes.go
  pkg/runtime/k0s/registry.go
  pkg/runtime/k0s/reset.go
  pkg/runtime/k0s/runtime.go
  pkg/runtime/k0s/upgrade.go
  pkg/runtime/k0s/utils.go
  pkg/runtime/kubernetes/clean.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm/common.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/utils.go
  test/e2e_test.go
  test/testhelper/settings/common.go
  types/api/v2/cluster_types.go
  utils/shellcommand/hostsfile.go
  utils/ssh/sshcmd.go
  utils/version/version.go
  utils/version/version_test.go
Labels: test, e2e-test, Clusterfile

#1918 feature: support v1alpha1 image spec
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/image_engine_test.go
  cmd/sealer/cmd/alpha/check.go
  cmd/sealer/cmd/alpha/debug.go
  cmd/sealer/cmd/alpha/exec.go
  cmd/sealer/cmd/alpha/gen.go
  cmd/sealer/cmd/alpha/manifest.go
  cmd/sealer/cmd/alpha/search.go
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/cert.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/completion.go
  cmd/sealer/cmd/image/build.go
  cmd/sealer/cmd/image/images.go
  cmd/sealer/cmd/image/inspect.go
  cmd/sealer/cmd/image/load.go
  cmd/sealer/cmd/image/login.go
  cmd/sealer/cmd/image/logout.go
  cmd/sealer/cmd/image/pull.go
  cmd/sealer/cmd/image/push.go
  cmd/sealer/cmd/image/rmi.go
  cmd/sealer/cmd/image/save.go
  cmd/sealer/cmd/image/tag.go
  cmd/sealer/cmd/root.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
  cmd/sealer/cmd/version.go
  cmd/sealer/main.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/hook.go
  pkg/cluster-runtime/installer.go
  pkg/clusterfile/clusterfile.go
  pkg/define/image/v1/sealer_image_extension.go
  pkg/define/image/v1/sealer_image_extension_test.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/imagedistributor/scp_distributor.go
  pkg/imageengine/buildah/commit.go
  pkg/imageengine/buildah/images.go
  pkg/imageengine/buildah/inspect.go
  pkg/imageengine/buildah/manifest.go
  pkg/imageengine/buildah/push.go
  pkg/imageengine/buildah/remove_container.go
  pkg/imageengine/buildah/rmi.go
  pkg/imageengine/buildah/sealer_image_extension.go
  pkg/imageengine/buildah/sealer_image_extension_test.go
  pkg/imageengine/interface.go
  pkg/infradriver/ssh_infradriver.go
  pkg/registry/external.go
  pkg/registry/installer.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/clean.go
  pkg/runtime/kubernetes/runtime.go
  utils/platform/platform.go
Labels: test, ImageBuilding

#1919 Fix: set ipvscare static pod for local HA registry.
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/utils/cluster.go
  common/common.go
  pkg/cluster-runtime/scale.go
  pkg/cluster-runtime/uninstall.go
  pkg/clusterfile/clusterfile.go
  pkg/ipvs/ipvs.go
  pkg/ipvs/ipvs_test.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/clean.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/utils.go
Labels: test

#1924 chore: rename variables
  build/kubefile/parser/utils.go
  pkg/registry/external.go
  pkg/registry/local.go
Labels: ImageBuilding

#1926 set lvscare health path and health schem for registry server
  pkg/ipvs/ipvs.go
  pkg/ipvs/ipvs_test.go
  pkg/registry/installer.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/utils.go
Labels: test
