Repository sealerio/sealer, pull requests merged in 2022-07, with the labels that each got.

#1552 optimize: write log message to disk
  cmd/sealer/cmd/root.go
  go.mod
  go.sum
  pkg/logger/file_hook.go
  pkg/logger/formatter.go
  pkg/logger/logger.go
  pkg/logger/remote_hook.go
  vendor/github.com/lestrrat-go/file-rotatelogs/.gitignore
  vendor/github.com/lestrrat-go/file-rotatelogs/.travis.yml
  vendor/github.com/lestrrat-go/file-rotatelogs/Changes
  vendor/github.com/lestrrat-go/file-rotatelogs/LICENSE
  vendor/github.com/lestrrat-go/file-rotatelogs/README.md
  vendor/github.com/lestrrat-go/file-rotatelogs/event.go
  vendor/github.com/lestrrat-go/file-rotatelogs/interface.go
  vendor/github.com/lestrrat-go/file-rotatelogs/internal/option/option.go
  vendor/github.com/lestrrat-go/file-rotatelogs/options.go
  vendor/github.com/lestrrat-go/file-rotatelogs/rotatelogs.go
  vendor/github.com/lestrrat-go/strftime/.gitignore
  vendor/github.com/lestrrat-go/strftime/.golangci.yml
  vendor/github.com/lestrrat-go/strftime/Changes
  vendor/github.com/lestrrat-go/strftime/LICENSE
  vendor/github.com/lestrrat-go/strftime/Makefile
  vendor/github.com/lestrrat-go/strftime/README.md
  vendor/github.com/lestrrat-go/strftime/appenders.go
  vendor/github.com/lestrrat-go/strftime/extension.go
  vendor/github.com/lestrrat-go/strftime/go.mod
  vendor/github.com/lestrrat-go/strftime/go.sum
  vendor/github.com/lestrrat-go/strftime/internal/errors/errors_fmt.go
  vendor/github.com/lestrrat-go/strftime/internal/errors/errors_pkg.go
  vendor/github.com/lestrrat-go/strftime/options.go
  vendor/github.com/lestrrat-go/strftime/specifications.go
  vendor/github.com/lestrrat-go/strftime/strftime.go
  vendor/github.com/rifflock/lfshook/LICENSE
  vendor/github.com/rifflock/lfshook/README.md
  vendor/github.com/rifflock/lfshook/lfshook.go
  vendor/modules.txt
Labels: log

#1563 feat: add a field to distinguish runtime tool and add TestLoadMetadata unit test.
  pkg/runtime/runtime.go
  pkg/runtime/utils_test.go
Labels: test

#1565 action: update go version and add -v flag to go test
  .github/workflows/e2e-test-apply.yml
  .github/workflows/go.yml
  .github/workflows/unit-test.yml
Labels: github-action

#1556 add release v0.8.6
  .github/release-drafter.yml
  README.md
  cmd/sealer/cmd/root.go
  docs/README_zh.md
  pkg/infra/aliyun/ali_provider.go
  release_note.md
  test/README.md
Labels: e2e-test, area/doc

#1571 bugfix: delete empty ip string which will be added to api server cert alt name
  apply/scale.go
  apply/scale_test.go
  types/api/v2/cluster_types.go
Labels: test, Clusterfile

#1577 Optimize: move experimental cmd to alpha stage
  cmd/sealer/cmd/alpha/alpha.go
  cmd/sealer/cmd/alpha/cert.go
  cmd/sealer/cmd/alpha/debug.go
  cmd/sealer/cmd/alpha/exec.go
  cmd/sealer/cmd/alpha/gen.go
  cmd/sealer/cmd/alpha/merge.go
  cmd/sealer/cmd/alpha/prune.go
  cmd/sealer/cmd/alpha/upgrade.go
  cmd/sealer/cmd/cert.go
  cmd/sealer/cmd/debug.go
  cmd/sealer/cmd/exec.go
  cmd/sealer/cmd/gen.go
  cmd/sealer/cmd/prune.go
  cmd/sealer/cmd/root.go
  cmd/sealer/cmd/upgrade.go
  pkg/debug/clean.go
  pkg/debug/images.go
  pkg/debug/node.go
  pkg/debug/pod.go
  pkg/exec/exec.go
Labels: alpha-feature

#1578 Refactor runtime module
  apply/apply.go
  apply/driver/interface.go
  apply/driver/local.go
  apply/driver/utils.go
  apply/processor/create.go
  apply/processor/delete.go
  apply/processor/gen.go
  apply/processor/scale.go
  apply/processor/upgrade.go
  apply/run.go
  apply/scale.go
  cmd/sealer/cmd/alpha/cert.go
  cmd/sealer/cmd/apply.go
  cmd/sealer/cmd/delete.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/pre_process.go
  pkg/filesystem/cloudfilesystem/nydus.go
  pkg/filesystem/cloudfilesystem/overlay2.go
  pkg/runtime/interface.go
  pkg/runtime/kubernetes/common.go
  pkg/runtime/kubernetes/default_kubeadm_config.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kube_version.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/kubeadm_config.go
  pkg/runtime/kubernetes/kubeadm_config_test.go
  pkg/runtime/kubernetes/kubeadm_runtime.go
  pkg/runtime/kubernetes/kubeadm_types/v1beta2/types.go
  pkg/runtime/kubernetes/registry.go
  pkg/runtime/kubernetes/reset.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/static_files.go
  pkg/runtime/kubernetes/update_cert.go
  pkg/runtime/kubernetes/upgrade.go
  pkg/runtime/kubernetes/utils.go
  pkg/runtime/kubernetes/utils_test.go
  pkg/runtime/types.go
  pkg/runtime/utils.go
  utils/decode.go
Labels: test, refactor, container-runtime

#1593 modify the method to get the node ip
  apply/processor/create.go
  apply/processor/delete.go
  apply/processor/gen.go
  apply/processor/install.go
  apply/processor/scale.go
  apply/processor/upgrade.go
  build/buildimage/saver.go
  cmd/sealer/cmd/alpha/exec.go
  pkg/config/config_test.go
  pkg/debug/clusterinfo/clusterinfo_test.go
  pkg/env/env_test.go
  pkg/exec/exec_test.go
  pkg/filesystem/clusterimage/clusterimage.go
  pkg/infra/aliyun/ali_ecs.go
  pkg/plugin/shell_plugin.go
  utils/mount/mount_service.go
  utils/mount/overlay2_test.go
  utils/ssh/utils.go
Labels: test, plugin, ImageBuilding

#1600 Optimize k8s runtime
  apply/processor/create.go
  apply/processor/delete.go
  apply/processor/gen.go
  apply/processor/scale.go
  apply/processor/upgrade.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/pre_process.go
  pkg/filesystem/cloudfilesystem/nydus.go
  pkg/filesystem/cloudfilesystem/overlay2.go
  pkg/registry/config.go
  pkg/runtime/interface.go
  pkg/runtime/kubernetes/common.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm.go
  pkg/runtime/kubernetes/kubeadm/common.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config_test.go
  pkg/runtime/kubernetes/kubeadm/v1beta2/types.go
  pkg/runtime/kubernetes/kubeadm_runtime.go
  pkg/runtime/kubernetes/registry.go
  pkg/runtime/kubernetes/reset.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/static_files.go
  pkg/runtime/kubernetes/update_cert.go
  pkg/runtime/kubernetes/upgrade.go
  pkg/runtime/kubernetes/utils.go
  utils/decode.go
  utils/version/version.go
  utils/version/version_test.go
Labels: test, optimization
