Repository sealerio/sealer, pull requests merged in 2023-04, with the labels that each got.

#2177 fix env bug
  pkg/clusterfile/decoder.go
  pkg/container-runtime/default.go
  pkg/container-runtime/installer.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/runtime.go
  pkg/runtime/kubernetes/utils.go
  utils/ssh/ssh.go
  utils/ssh/sshcmd.go
  utils/strings/strings.go
  utils/strings/strings_test.go
Labels: test

#2165 support delete taint
  pkg/cluster-runtime/installer.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/utils.go
  pkg/infradriver/utils_test.go
Labels: test

#2140 feat: support env rendering for files in application/apps
  pkg/application/files.go
  pkg/application/v2app.go
  pkg/infradriver/ssh_infradriver.go
  types/api/v2/application_types.go
  utils/maps/maps.go
  utils/maps/maps_test.go
Labels: test, Clusterfile

#2155 feat: support cache sealer image
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/rollback.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/cluster/upgrade.go
  cmd/sealer/cmd/types/types.go
  pkg/imagedistributor/interface.go
  pkg/imagedistributor/mount.go
  pkg/imagedistributor/options.go
  pkg/imagedistributor/scp_distributor.go
Labels: performance

#2179 feat:support env and appenv instruction
  build/kubefile/command/command.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse.go
  build/kubefile/parser/parse_test.go
  cmd/sealer/cmd/image/build.go
  pkg/define/application/v1/application.go
  pkg/define/application/version/version.go
  pkg/define/image/v1/sealer_image.go
Labels: test, ImageBuilding

#2184 feat: support pack different arch image together
  build/kubefile/parser/image_engine_test.go
  cmd/sealer/cmd/alpha/manifest.go
  pkg/define/options/options.go
  pkg/imageengine/buildah/load.go
  pkg/imageengine/buildah/manifest.go
  pkg/imageengine/buildah/save.go
  pkg/imageengine/interface.go
Labels: test, ImageBuilding
