Repository sealerio/sealer, pull requests merged in 2023-05, with the labels that each got.

#2211 fix: should replace all LF string
  utils/ssh/sshcmd.go
Labels: kind/bug

#2220 feat: change markdown lint tool
  .github/workflows/.mlc_config.json
  .github/workflows/markdown.yml
  .markdownlint.yml
  CONTRIBUTING.md
  docs/design/docker-image-cache.md
  docs/design/master0-recovery.md
Labels: area/doc

#2207 feat: support merge cmd env with image extension
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/rollback.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/cluster/upgrade.go
  cmd/sealer/cmd/utils/application.go
  cmd/sealer/cmd/utils/application_test.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
  pkg/application/v2app.go
Labels: test
