Repository sealerio/sealer, pull requests merged in 2023-03, with the labels that each got.

#2069 bugfix:delete tmp build dir
  build/kubefile/parser/app_handler.go
Labels: ImageBuilding

#2067 refactor: make image engine manifest resource codes more readable
  build/kubefile/parser/image_engine_test.go
  cmd/sealer/cmd/alpha/manifest.go
  cmd/sealer/cmd/image/build.go
  pkg/imageengine/buildah/load.go
  pkg/imageengine/buildah/manifest.go
  pkg/imageengine/interface.go
Labels: test, ImageBuilding

#2076 Optimize code for run apps
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run.go
  pkg/application/interface.go
  pkg/application/options.go
  pkg/application/v2app.go
  pkg/application/v2app_test.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/scale.go
  pkg/cluster-runtime/upgrader.go
  pkg/infradriver/ssh_infradriver.go
  pkg/infradriver/ssh_infradriver_test.go
  utils/strings/strings.go
  utils/strings/strings_test.go
Labels: test

#2057 feat:support modify app files via Clusterfile
  cmd/sealer/cmd/cluster/run.go
  pkg/application/interface.go
  pkg/application/v2app.go
  types/api/v2/application_types.go
Labels: Clusterfile

#2033 test: add sealer alpha mount/umount e2e test
  test/sealer_images_test.go
  test/suites/image/mount.go
Labels: test, e2e-test

#2048 Feat/support nvidia docker and nonroot
  Makefile
  cmd/sealer/cmd/alpha/host-alias.go
  cmd/sealer/cmd/cluster/cert.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/cluster/upgrade.go
  cmd/sealer/cmd/root.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
  pkg/application/v2app.go
  pkg/checker/host_checker.go
  pkg/cluster-runtime/hook.go
  pkg/cluster-runtime/installer.go
  pkg/cluster-runtime/upgrader.go
  pkg/clusterfile/clusterfile.go
  pkg/container-runtime/default.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/env/test/template/kubeadm.yaml
  pkg/exec/exec.go
  pkg/imagedistributor/scp_distributor.go
  pkg/imageengine/buildah/remove_container.go
  pkg/infra/container/container.go
  pkg/infradriver/infradriver.go
  pkg/infradriver/ssh_infradriver.go
  pkg/registry/external.go
  pkg/registry/installer.go
  pkg/registry/local.go
  pkg/runtime/k0s/delete_masters.go
  pkg/runtime/k0s/delete_nodes.go
  pkg/runtime/k0s/init.go
  pkg/runtime/k0s/join_masters.go
  pkg/runtime/k0s/join_nodes.go
  pkg/runtime/k0s/reset.go
  pkg/runtime/k0s/utils.go
  pkg/runtime/kubernetes/clean.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/utils.go
  test/sealer_apply_test.go
  test/suites/apply/apply.go
  test/testhelper/utils.go
  utils/ssh/connect.go
  utils/ssh/platform.go
  utils/ssh/scp.go
  utils/ssh/ssh.go
  utils/ssh/sshcmd.go
Labels: test, e2e-test

#2085 chore: delete unused code
  build/buildimage/config.go
  pkg/image/types/Image_metadata.go
  pkg/image/types/error.go
  pkg/parser/README.md
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/registry/config.go
Labels: test, ImageBuilding, chore

#2093 add decode check for application
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/upgrade.go
  cmd/sealer/cmd/utils/application.go
  cmd/sealer/cmd/utils/application_test.go
  pkg/clusterfile/decoder.go
  types/api/v2/application_types.go
Labels: test, Clusterfile

#2101 [bugfix]: fix e2e build
  test/sealer_build_test.go
  test/suites/build/build.go
Labels: test, e2e-test

#2110 fix e2e build test
  test/sealer_build_test.go
  test/suites/build/build.go
Labels: test, e2e-test

#2107 Add docs for customize CRI.
  docs/api/cloudrootfs.md
  docs/api/clusterfile.md
Labels: area/doc

#2113 delete mount e2e test
  test/sealer_images_test.go
Labels: test, e2e-test

#2097 chore: add e2e coverage and run e2e when pull request
  .github/workflows/e2e-test-apply.yml
  .github/workflows/e2e-test-build.yml
  .github/workflows/e2e-test-image.yml
  .github/workflows/e2e-test-run.yml
  .github/workflows/unit-test.yml
  CONTRIBUTING.md
  test/suites/build/build.go
  test/suites/image/mount.go
Labels: e2e-test

#2121 move login to image module
  .github/workflows/e2e-test-image.yml
  test/sealer_images_test.go
  test/sealer_login_test.go
Labels: test, e2e-test

#2131 Update kubeadm config version to v1beta3
  docs/design/clusterfile-v2.md
  go.mod
  go.sum
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/env/test/template/kubeadm.yaml
  pkg/env/test/template/kubeadm.yaml.tmpl
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  pkg/runtime/kubernetes/join_nodes.go
  pkg/runtime/kubernetes/kubeadm/common.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config_test.go
  utils/decode.go
  utils/test/file/Clusterfile
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/component-base/version/OWNERS
  vendor/k8s.io/component-base/version/base.go
  vendor/k8s.io/component-base/version/version.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/bootstraptoken/v1/types.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/bootstraptoken/v1/utils.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/bootstraptoken/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/apiendpoint.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/bootstraptokenhelpers.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/bootstraptokenstring.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/register.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/types.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/bootstraptokenstring.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/conversion.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_unix.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults_windows.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/register.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/types.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2/zz_generated.defaults.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/conversion.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults_unix.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/defaults_windows.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/doc.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/register.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3/zz_generated.defaults.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/constants/constants.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/constants/constants_unix.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/constants/constants_windows.go
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/features/features.go
  vendor/modules.txt
Labels: test, area/doc

#2158 Add `NewProcessorsAndRun` test
  pkg/config/pre_process_test.go
Labels: test
