Repository sealerio/sealer, pull requests merged in 2023-02, with the labels that each got.

#2005 support ${arch}
  build/kubefile/parser/line_parsers.go
Labels: ImageBuilding

#2012 set CustomImageName to change TestImage and fix code
  test/README.md
  test/sealer_apply_test.go
  test/sealer_build_test.go
  test/sealer_images_test.go
  test/sealer_run_test.go
  test/suites/apply/fixtures/cluster_file_for_test.yaml
  test/suites/apply/fixtures/config_plugin_for_test.yaml
  test/suites/build/build.go
  test/suites/build/fixtures/lite_build/Kubefile
  test/testhelper/settings/common.go
Labels: test, e2e-test

#1975 Feat/support containerd
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  common/common.go
  pkg/cluster-runtime/installer.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/container-runtime/containerd.go
  pkg/container-runtime/default.go
  pkg/container-runtime/installer.go
  pkg/registry/external.go
  pkg/registry/local.go
  pkg/runtime/kubernetes/init.go
  pkg/runtime/kubernetes/join_masters.go
  types/api/v2/cluster_types.go
Labels: test, Clusterfile

#2021 chore :fix gosec code
  build/kubefile/parser/file_fetcher.go
  pkg/image/distributionutil/login.go
  pkg/image/save/distributionpkg/proxy/proxyauth.go
  pkg/image/save/filesystem.go
  pkg/prune/build_pruner.go
  pkg/prune/prune.go
  utils/archive/compress_test.go
  utils/archive/hash.go
  utils/mount/default.go
  utils/mount/default_test.go
  utils/mount/mount.go
  utils/mount/mount_service.go
  utils/mount/overlay2.go
  utils/mount/overlay2_test.go
  utils/net/iputils.go
Labels: test, ImageBuilding

#2019 Bugfix multi image support
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/line_parsers.go
  build/kubefile/parser/parse_test.go
  cmd/sealer/cmd/alpha/manifest.go
  cmd/sealer/cmd/image/build.go
  cmd/sealer/cmd/image/push.go
  pkg/define/options/options.go
  pkg/imageengine/buildah/build.go
  pkg/imageengine/buildah/rmi.go
  test/sealer_build_test.go
  test/sealer_images_test.go
  test/suites/build/build.go
  test/suites/build/fixtures/build_with_cmds/Kubefile
  test/suites/build/fixtures/build_with_cmds/app.yaml
  test/suites/build/fixtures/build_with_cmds/imageList
  test/suites/build/fixtures/build_with_imagelist_flag/Kubefile
  test/suites/build/fixtures/build_with_imagelist_flag/imagelist
  test/suites/build/fixtures/build_with_launch/Kubefile
  test/suites/build/fixtures/build_with_launch/app.yaml
  test/suites/build/fixtures/build_with_launch/imageList
  test/suites/build/fixtures/build_with_multi_arch/Kubefile
  test/suites/build/fixtures/build_with_multi_arch/amd64/bin/i_am_amd64
  test/suites/build/fixtures/build_with_multi_arch/app.yaml
  test/suites/build/fixtures/build_with_multi_arch/arm64/bin/i_am_arm64
  test/suites/build/fixtures/build_with_multi_arch/imagelist
  test/suites/build/fixtures/lite_build/Kubefile
  test/suites/build/fixtures/lite_build/imageList
  test/suites/build/fixtures/lite_build/recommended.yaml
  test/suites/build/fixtures/lite_build/test-plugins.yaml
  test/suites/build/fixtures/lite_build/test1
  test/suites/build/fixtures/lite_build/test2
  test/suites/build/fixtures/local_build/Kubefile
  test/suites/build/fixtures/local_build/Kubefile_only_copy
  test/suites/image/image.go
  test/testhelper/settings/common.go
Labels: test, e2e-test, ImageBuilding

#2014 use client-go to interact with the cluster in container and optimize code
  .github/workflows/e2e-test-apply.yml
  .github/workflows/e2e-test-run.yml
  test/e2e_test.go
  test/sealer_apply_test.go
  test/sealer_build_test.go
  test/sealer_images_test.go
  test/sealer_login_test.go
  test/sealer_run_test.go
  test/suites/apply/apply.go
  test/suites/image/image.go
  test/suites/registry/registry.go
  test/testhelper/client/k8s/client.go
  test/testhelper/helper.go
  test/testhelper/utils.go
Labels: test, e2e-test

#2028 support mixed app type with appcmds
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse_test.go
  build/kubefile/parser/utils.go
  build/kubefile/parser/utils_test.go
  cmd/sealer/cmd/image/build.go
  pkg/define/application/types.go
  test/sealer_build_test.go
  test/suites/build/build.go
  test/suites/build/fixtures/build_with_appcmds/Kubefile
  test/suites/build/fixtures/build_with_appcmds/install.sh
  test/suites/build/fixtures/build_with_appcmds/mixedcontext/app.yaml
  test/suites/build/fixtures/build_with_appcmds/mixedcontext/install.sh
  test/suites/build/fixtures/build_with_appcmds/shellcontext/a.sh
  test/suites/build/fixtures/build_with_appcmds/shellcontext/b.sh
  test/suites/build/fixtures/build_with_appcmds/shellcontext/c.sh
  test/suites/build/fixtures/build_with_appcmds/yamlcontext/a.yaml
  test/suites/build/fixtures/build_with_appcmds/yamlcontext/b.yaml
  test/suites/build/fixtures/build_with_appcmds/yamlcontext/c.yaml
Labels: test, e2e-test, ImageBuilding

#2035 support heterogeneous cluster deployment
  build/kubefile/parser/image_engine_test.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse_test.go
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/image/inspect.go
  cmd/sealer/cmd/image/pull.go
  pkg/cluster-runtime/installer.go
  pkg/define/image/v1/sealer_image.go
  pkg/define/image/v1/sealer_image_test.go
  pkg/define/options/options.go
  pkg/imagedistributor/mount.go
  pkg/imageengine/buildah/get_annotation.go
  pkg/imageengine/buildah/inspect.go
  pkg/imageengine/buildah/inspect_test.go
  pkg/imageengine/buildah/pull.go
  pkg/imageengine/buildah/sealer_image_extension.go
  pkg/imageengine/buildah/sealer_image_extension_test.go
  pkg/imageengine/interface.go
Labels: test, ImageBuilding

#2020 support --ignored-image-list ignoredlist args
  build/buildimage/differ.go
  build/layerutils/manifests/manifests.go
  cmd/sealer/cmd/image/build.go
  pkg/define/options/options.go
Labels: ImageBuilding

#2068 feature: inhert APPCMDS
  build/kubefile/parser/kubefile.go
Labels: ImageBuilding
