Repository sealerio/sealer, pull requests merged in 2023-01, with the labels that each got.

#1951 user sealer.io as apiversion
  cmd/sealer/cmd/utils/cluster_test.go
  cmd/sealer/cmd/utils/hosts_test.go
  common/common.go
  docs/api/clusterfile.md
  docs/design/clusterfile-v2.md
  docs/design/global-config.md
  docs/design/plugin.md
  pkg/cluster-runtime/hook_test.go
  pkg/cluster-runtime/test/test.yaml
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder_test.go
  pkg/infradriver/ssh_infradriver_test.go
  pkg/runtime/kubernetes/kubeadm/kubeadm_config_test.go
  test/suites/apply/fixtures/config_plugin_for_test.yaml
  types/api/v1/config_types.go
  utils/decode.go
  utils/test/file/Clusterfile
Labels: test, e2e-test, Clusterfile, area/doc

#1955 support merge flags when use clusterfile for run and apply
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/delete.go
  cmd/sealer/cmd/cluster/join.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/cluster/scale-up.go
  cmd/sealer/cmd/types/types.go
  cmd/sealer/cmd/utils/cluster.go
  cmd/sealer/cmd/utils/cluster_test.go
  cmd/sealer/cmd/utils/hosts.go
  cmd/sealer/cmd/utils/hosts_test.go
  cmd/sealer/cmd/utils/validate.go
Labels: test

#1854 fix plugin bug
  docs/design/global-config.md
  docs/design/global-config_zh.md
  pkg/plugin/plugins.go
  pkg/plugin/utils.go
Labels: plugin, area/doc

#1960 chore: add container image list for image spec
  pkg/define/image/v1/sealer_image_extension.go
  pkg/imageengine/buildah/inspect.go
  pkg/imageengine/buildah/sealer_image_extension.go
  pkg/imageengine/buildah/sealer_image_extension_test.go
Labels: test

#1962 use const as resource kind
  cmd/sealer/cmd/utils/cluster.go
  common/common.go
  docs/api/clusterfile.md
  docs/design/global-config.md
  docs/design/plugin.md
  pkg/cluster-runtime/hook_test.go
  pkg/cluster-runtime/test/test.yaml
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/clusterfile_test.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  pkg/config/pre_process.go
  pkg/imagedistributor/scp_distributor.go
  test/suites/apply/apply.go
  test/suites/apply/fixtures/config_plugin_for_test.yaml
  types/api/constants/constants.go
  types/api/v1/config_types.go
  types/api/v1/groupversion_info.go
  types/api/v2/groupversion_info.go
  utils/decode.go
  utils/test/file/Clusterfile
Labels: test, e2e-test, Clusterfile, area/doc

#1964 Add CMD command to Kubefile
  build/kubefile/command/command.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse.go
Labels: ImageBuilding

#1974 Feat: add application spec and implementation
  cmd/sealer/cmd/cluster/apply.go
  cmd/sealer/cmd/cluster/run.go
  cmd/sealer/cmd/types/types.go
  cmd/sealer/cmd/utils/cluster.go
  pkg/application/interface.go
  pkg/application/v2app.go
  pkg/application/v2app_test.go
  pkg/cluster-runtime/apps.go
  pkg/cluster-runtime/installer.go
  pkg/clusterfile/clusterfile.go
  pkg/clusterfile/decoder.go
  pkg/clusterfile/decoder_test.go
  types/api/constants/constants.go
  types/api/v2/application_types.go
  types/api/v2/zz_generated.deepcopy.go
Labels: test, Clusterfile

#1959 support specify appname for config
  pkg/config/config.go
  types/api/v1/config_types.go
Labels: Clusterfile

#1980 feature: enrich kubefile
  build/kubefile/command/command.go
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse.go
  pkg/define/image/v1/sealer_image_extension.go
  pkg/imageengine/buildah/inspect.go
  pkg/imageengine/buildah/inspect_test.go
Labels: test, ImageBuilding

#1981 feature: optimize app instruction
  build/kubefile/command/command.go
  build/kubefile/parser/kubefile.go
  build/kubefile/parser/parse.go
  cmd/sealer/cmd/image/build.go
  pkg/application/v2app.go
  pkg/define/application/v1/application.go
  pkg/define/application/version/version.go
  pkg/define/image/v1/sealer_image_extension.go
Labels: ImageBuilding

#1979 feature: store container image list to image spec
  build/buildimage/differ.go
  build/buildimage/middleware.go
  build/kubefile/parser/image_engine_test.go
  build/layerutils/utils.go
  build/layerutils/utils_test.go
  cmd/sealer/cmd/image/build.go
  pkg/define/image/v1/sealer_image_extension.go
  pkg/define/options/options.go
  pkg/imageengine/buildah/config.go
  pkg/imageengine/buildah/inspect.go
  pkg/imageengine/interface.go
Labels: test, ImageBuilding

#1983 bugfix: use deep walk to get launch files for shell and kube
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/utils.go
  pkg/define/application/v1/application.go
  pkg/define/image/v1/sealer_image_extension_test.go
Labels: test, ImageBuilding

#1988 Bugfix for app parser
  build/kubefile/parser/app_handler.go
  build/kubefile/parser/utils.go
Labels: ImageBuilding

#1977 Add introduction for rootfs.
  docs/api/cloudrootfs.md
Labels: area/doc

#1922 feat:sealer local e2e test and CI using github action
  .github/workflows/e2e-test-apply.yml
  .github/workflows/e2e-test-build.yml
  .github/workflows/e2e-test-image.yml
  .github/workflows/e2e-test-run.yml
  pkg/infra/container/client/docker/container.go
  pkg/infra/container/container.go
  pkg/infra/container/imagecontext/arm/entrypoint
  pkg/infra/container/imagecontext/base/Dockerfile
  pkg/infra/container/imagecontext/base/entrypoint
  pkg/infra/container/imagecontext/build/Dockerfile
  pkg/infra/test/container_test.go
  pkg/runtime/kubernetes/utils.go
  test/README.md
  test/e2e_test.go
  test/sealer_apply_test.go
  test/sealer_build_test.go
  test/sealer_images_test.go
  test/sealer_run_test.go
  test/suites/apply/apply.go
  test/suites/apply/fixtures/cluster_file_for_test.yaml
  test/suites/apply/fixtures/config_plugin_for_test.yaml
  test/suites/build/build.go
  test/suites/build/fixtures/lite_build/Kubefile
  test/suites/image/image.go
  test/suites/registry/registry.go
  test/testhelper/settings/common.go
  test/testhelper/utils.go
  utils/shellcommand/hostsfile.go
  utils/ssh/scp.go
Labels: test, e2e-test
